
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

   
    @using StudentApplication.Models
    @model LoginVM

</head>

<body>

    <div class="container mt-4">

        <div class="jumbotron">

            
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div class="row">

                        <div class="col-md-6">
                            @Html.Label("userName", "Email ID", new { @class = "control-label font-weight-bold " })
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.userName, new { @class = "form-control", @placeholder = "Username" })
                                @Html.ValidationMessageFor(m => m.userName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.Label("password", "Password", new { @class = "control-label font-weight-bold" })
                            <div class="form-group">

                                @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                       

                      </div>
                }




                    </div>
    </div>
</body>

